<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item title is-3 u--text-uppercase" href="./">
      <img src="./assets/logo.svg" class="navbar__logo"/>ATX Paw Finder
    </a>
  </div>
</nav>

<div class="columns">
  <div class="column is-one-fifth">
    <div class="panel">
      <div class="panel-heading">
        Narrow your search
      </div>
      <div class="panel-block">
        <form 
        class="block--full"
        [formGroup]="filterForm"
        (ngSubmit)="submitFilter()">
          <div class="field">
            <label class="label" for="type">Type</label>
            <div class="control">
              <!-- TODO: make this into custom radio inputs for better accessibility and keyboard selection -->
              <div class="buttons has-addons">
                <span class="button is-medium" 
                  (click)="updateType('Dog')"
                  [ngClass]="{'radio--selected': this.filterForm.get('type').value == 'Dog'}">
                  <img src="./assets/dog-color.svg" width="50" />
                </span>
                <span class="button is-medium" 
                  (click)="updateType('Cat')"
                  [ngClass]="{'radio--selected': this.filterForm.get('type').value == 'Cat'}">
                  <img src="./assets/cat-color.svg" width="40" />
                </span>
                <span class="button is-medium" 
                  (click)="updateType('')"
                  [ngClass]="{'radio--selected': this.filterForm.get('type').value == ''}">All
                </span>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label" for="sex">Sex</label>
            <div class="control">
              <div class="select is-medium block--full">
                <select class="block--full" name="sex" formControlName="sex">
                  <option value="">All</option>
                  <option value="Neutered+Male">Neutered Male</option>
                  <option value="Spayed+Female">Spayed Female</option>
                  <option value="Intact+Male">Intact Male</option>
                  <option value="Intact+Female">Intact Female</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <button class="button is-primary is-medium" type="submit">
                Search
              </button>
            </p>
            <p class="control">
              <button class="button is-light is-medium" type="button" (click)="clearFilter()">
                Reset
              </button>
            </p>
          </div>
        </form>
      </div>
      <p class="box has-text-centered">{{results}} Results Found <br/>for <strong>{{filter}}</strong></p>
    </div>
    <div class="has-text-centered is-hidden-touch">
      <a href="https://sceendy.com/blog/2018/01-17-new-project-atx-pet-finder/" target="_blank" rel="noopener">Blog post</a> | <a href="https://github.com/sceendy/atx-paw-finder" target="_blank" rel="noopener">View Code</a><br/>
      &hearts; Made by <a href="https://www.sceendy.com" target="_blank" rel="noopener">Cindy</a>
    </div>
  </div>
  
  <div class="column is-half" style="position: relative;">
    <progress 
      *ngIf="loading > 0" 
      class="progress is-primary floating--centered" 
      value="{{loading}}" 
      max="100">
      {{loading}}%
    </progress>
    <map 
      *ngIf="locations" 
      [markers]="locations" 
      [selected]="selectedPet" 
      (onPetSelected)="getPet($event)">
      Loading Map...
    </map>
  </div>

  <div class="column">
    <pets-list [pets]="pets" (onSelected)="onSelected($event)"></pets-list>
  </div>
</div>

<p class="has-text-centered is-hidden-tablet">
  &hearts; Made by <a href="https://www.sceendy.com" target="_blank" rel="noopener">Cindy</a>
</p>