<div class="card-content">
  <div class="media">
    <div class="media-left">
      <figure class="image is-96x72">
        <img src="http://petharbor.com/get_image.asp?RES=Detail&ID={{pet.animal_id}}&LOCATION=ASTN" alt="{{pet.type}}" />
      </figure>
    </div>
    <div class="media-content">
      <strong>{{pet.looks_like}}</strong>
      <div class="content is-small">
        Found at {{pet.location.human_address.address}} ({{pet.location.human_address.zip}})
        on {{pet.intake_date | date: 'MMM d'}}
        <span 
          class="has-text-info actionable__text"
          (click)="toggleInfo(pet.animal_id)">
          ({{ selectedId === pet.animal_id ? 'Less' : 'View' }} details)
        </span>
      </div>
    </div>
  </div>
  <div class="content" *ngIf="selectedId === pet.animal_id">
    <div class="tags">
      <span class="tag">{{pet.type}}</span>
      <span class="tag">{{pet.color}}</span>
      <span class="tag">{{pet.age}}</span>
      <span class="tag">{{pet.sex}}</span>
      <span class="tag is-info" *ngIf="pet.at_aac.charAt(0) === 'Y'">
        at shelter
      </span>
      <a class="tag is-warning"
        *ngIf="pet.at_aac.charAt(0) === 'N'"
        href="http://www.austintexas.gov/department/aac"
        target="_blank"
        rel="noopener">
        contact the aac
      </a>
    </div>
  </div>
</div>