<div class="map__list" *ngIf="pets">
  <div class="card"
    *ngFor="let pet of pets | 
      paginate: { itemsPerPage: config.limit, currentPage: config.currentPage };">
      <!-- TODO: add hover (mouseover)="highlightPetLocation($event, pet.animal_id)" -->
    <pet-card [pet]="pet"></pet-card>
  </div>
  <div *ngIf="pets.length <= 1" class="card">
    <div class="card-content">
      Whoops! Your search criteria might be too narrow. Try resetting the filter.
    </div>
  </div>

  <pagination-controls
    autoHide="true"
    (pageChange)="goToPage($event)"
    class="pagination--bulma"
    previousLabel=""
    nextLabel=""
  ></pagination-controls>
</div>